h1 {
    margin: 0 auto;
    border-color: black;
    border-style: solid;
    border-width: 10px;
    border-radius: 10px;
    background-color: cyan;
    padding: 10px;
    font-family: fantasy;
    width: 210px;
}
p {
    margin: 0 auto;
    border: solid 10px blue;
    background-color: red;
    padding: 10px;
    font-size: xx-large;
    font-family: 'Times New Roman';
    width: 700px;
}
.tiger {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    border: dotted 5px aqua;
    padding: 0;
    border-radius: 40px;
    height: 400px;
    width: 400px;
}